{% extends "Layout/base.html.twig" %}

{% block body %}
<div class="container"><br><br>
    <h1>News index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Nom de l'image</th>
                <th>Date création</th>
                <th>Modifié</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in pagination %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.description| slice(0,50) }}...</td>
                <td>{{ news.imageName }}</td>
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ news.updatededAt ? news.updatededAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_news_show', {'id': news.id}) }}">show</a>
                    <a href="{{ path('app_news_edit', {'id': news.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table> <br>

    {{ knp_pagination_render(pagination) }}

    <a href="{{ path('app_news_new') }}" class="btn btn-primary">Créer un article</a>
    </div>
{% endblock %}

